# Temp files
*~
tmp/

# IDEA
*.ipr
*.iml
*.iws
/.idea/
out/

# Maven
target/

#gradle
.gradle
build
/local.properties
local.properties
/build
/captures
.externalNativeBuild
.cxx

# Android
classes/
bin/
gen/
gen-external-apklibs/
libs/
captures/

# OS
.DS_Store

# Misc
*.orig
*.hprof